<h1>{{name}}</h1>
{{#if images}}
<img src="{{{images.4.url}}}" alt="Album cover" class="cover_art">
{{/if}}
<p class="action_group">
<a href="#artists/{{artist.uri}}/{{artist.name}}" class="action_url" data-artist-name="{{artist.name}}">
{{artist.name}}
</a>
</p>
{{#if lastfm}}
<div class="app_page_pad">
{{#markdown}}
{{{lastfm.wiki.content}}}
{{/markdown}}
</div>
{{/if}}
